:root {
    --main-color: #121323;
    --color1: #282A39;
    --color2: #EC2353;
    --color3: #F9365F;
    --color4: #7E7E7E;
    --color5: #CBCBCB;
    --color6: #FF4A30;
    --color7: #090B0B;
    --color8: #A7A7A7;
    --color9: #E0E0E0;
    --color-white: #ffffff;
    --color-black: #000000;
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --bg-color: #ffffff;
    --bg-color1: #F6F6F6;
    --bg-color2: #FF4A30;
    --bg-dark: #0A0A0A;
    --bg-grey: #ebebeb;
  
}

body {
    --bg-color: #ffffff;
    /* cursor: none; */
overflow-x: hidden;


}


[data-theme="dark"] {
    --bg-color: #0A0A0A;
    --main-color: #0A0A0A;
    --color1: #E0E0E0;
    --bg-color1: #121212;
    --color7: #121212;
    --color5: #7A7A7A;
    --color-black: #fff;
    --bg-grey: #1D1D1D;


}

[data-theme="dark"] body {
    background-color: var(--bg-dark) !important;
    color: var(--color-white) !important;
    
}
[data-theme="dark"] .home-bg {
background-color: #000000;
    
}
[data-theme="dark"] .load a {
    color: #ffffff;
        
    }





[data-theme="dark"] h5 {
    color: var(--color-black);
}

[data-theme="dark"] .tst-crsl p {
    color: #000000
}

[data-theme="dark"] .crsl-logo img {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

[data-theme="dark"] .logos img {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}


















.bg-nav {
    background-color: var(--main-color) !important;
}

.home-bg {

    background-color: var(--main-color);
    width: 100%;
    text-align: center;
}

.home-content {
    padding-top: 250px;
}
.home-content h2 {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.navp {
    padding-left: 50px !important;
    padding-right: 45px !important;
    padding-top: 5px;
}

.header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: var(--main-color);
}

.header ul li a {
    color: var(--color9) !important;
    padding-left: 36px !important;
    font-size: 16px;
    font-family: 'open_sansregular';
}

.header ul li .active {
    color: var(--color3) !important;
}

.header ul li a:hover {
    color: var(--color3) !important;
    transition: 1s;
}

.header .nav-item img {
    width: 17px;
    margin-left: 10px;
}

.header img {
    width: 140px;
}

.home-bg h2 {
    color: var(--color-white);
    font-size: 65px;
    text-align: center;
    font-family: 'ralewaysemibold';
}

.home-bg h4 {
    font-size: 16px;
    color: var(--color9);
    padding: 30px 0px !important;
    font-weight: 200;
    font-family: 'open_sansregular';
}

.home-bg .talk {
    background-color: var(--color3);
    color: white;
    border-radius: 40px !important;
    padding: 12px 44px;
    width: 180px;
    height: 60px;
    margin: auto;
    font-size: 17px;
    font-family: 'ralewaysemibold';
    border: none;
    margin-top: 20px;
}

.home-content span {
    color: var(--color3);
}

.user-exp h5 {
    color: var(--color9);
    font-size: 13px;
    font-family: 'open_sanssemibold';
}

.user-exp {
    margin-top: 140px;
    padding: 100px 0px 90px;
}

.user-exp .container {
    padding: 0px 200px;
}

.sec-page h3 {
    font-size: 15px;
    color: var(--color4);
    padding-top: 70px;
}

.about-veuz h3 {
    font-size: 15px;
    color: var(--color4);



}

.about-veuz {
    position: relative;
}

.about-veuz::after {
    content: "";
    display: block;
    width: 309px;
    height: 1px;
    background: var(--bg-grey);
    right: -133px;
    top: 65%;
    position: absolute;
    rotate: 90deg;
}

.about-veuz .ing {
    font-size: 45px !important;
    font-family: 'ralewaysemibold';
    font-weight: 600;
    padding-right: 50px;


}

.about-veuz .ing span {
    color: var(--color3);
}

.View-more {
    text-decoration: none;
    color: var(--color3);
    font-size: 15px;
    padding-left: 30px;
}


.ab-discription {
    margin-bottom: 30px;

    font-size: 15px;
    padding-left: 30px;
    font-weight: 500;
    font-family: 'open_sansregular';
    line-height: 185%;
}

.abt-sec {
    margin-top: 110px;
}

.serv {
    font-size: 15px;
    color: var(--color4);
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.process {
    margin-top: 50px;
}

.process .grow {
    /* width: 500px; */
    font-size: 45px !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

.grow {
    width: 500px;
    font-size: 45px !important;
    font-family: 'ralewaysemibold';
    font-weight: 600;

}

.grow span {
    color: var(--color3);
}

.service-tabs {
    margin-top: 35px;
}

.srvc-tabs {
    position: relative;
}

.srvc-tabs::after {
    position: absolute;
    content: "";
    display: block;
    width: 337px;
    height: 1px;
    background: var(--bg-grey);
    right: -236px;
    top: 45%;
    rotate: 90deg;

}

.services .nav-tabs {
    border: none;
}

.tab1 a {
    color: var(--color5);
    font-size: 30px !important;
    margin-bottom: 30px;
    font-family: 'ralewaysemibold';
    display: flex;
    align-items: center;
    line-height: 1.3;
    text-decoration: none;
}

.tab1 .active {
    color: var(--color-black);
}

.tab1 span {
    padding-right: 10px !important;
    font-size: 17px;
    font-family: 'open_sanssemibold';
}

.tab1 a:hover {
    text-decoration: none !important;
    color: var(--color-black) !important;
    transition: 2s;
}

.tab2 p {
    font-size: 15px;
    padding-left: 19px;
    font-weight: 500;
    font-family: 'open_sansregular';
}

.tab2 {
    padding-left: 130px;
    line-height: 25px;
}

.best-work {
    background-color: var(--bg-color1);
    margin-top: 80px;
    padding-top: 80px;
}

.thence {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
}

.image-box1,
.image-box2,
.image-box3,
.image-box4 {
    overflow: hidden;
    height: 404px;
}

.image-box4 img,
.image-box2 img {
    height: 404px;

}

.image-box1 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.image-box1 img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.image-box2 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.image-box2 img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.image-box3 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.image-box3 img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.image-box4 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.image-box4 img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}



















.project {
    color: var(--color4);
    margin-top: 10px;
    position: relative;
    font-weight: 600;
    font-size: 12px;
    font-family: 'open_sansregular';

}

.best-work a {
    text-decoration: none;
}

.best-work a .project:hover {
    color: var(--color3) !important;
}

.project:after {
    content: "";
    display: block;
    width: 34px;
    height: 1px;
    background: var(--color-black);
    left: 90px;
    top: 50%;
    position: absolute;

}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: var(--color-white);
    margin-right: 10px;
}


.load1 {
    padding: 100px 0px 70px 0px;
}

.load a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.load a:hover {
    text-decoration: none !important;
    color: var(--color3) !important;
}

.know-more {
    padding: 100px;
}

.know-more p {
    font-size: 14px;
    margin-top: 20px;
    font-family: 'open_sansregular';
    line-height: 185%;
}

.count {
    margin-top: 20px;
    font-family: 'open_sanssemibold';
    font-size: 40px;

}

.count-p {
    color: #666666;
}

.ct p {
    margin-top: 10px;
}

.know-more img {
    width: 510px;
    margin-left: 190px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}

.ab-us {
    background-color: var(--color3) !important;
    border-radius: 40px !important;
    padding: 7px 30px;
    width: 155px;
    height: 45px;
    font-size: 13px;
    margin-top: 25px;
    border: none;
}

.orange {
    background-color: var(--color6);
}

.craft {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 800;
    color: var(--color-white);
    line-height: 1.5;
    padding-top: 40px;
    font-family: 'ralewaybold';
}

.orange img {
    position: relative;
    z-index: 5;
    margin-top: 50px;
}

.veuz {
    font-size: 134px;
    font-weight: 900;
    color: var(--color-black)36;
    position: absolute;
    width: 100%;
    margin-top: 171px;
    opacity: .2;
}

.craft span {
    color: #FFDE6A;
}

.testimonials {
    background-color: var(--bg-color1);
    padding-top: 50px;
}

.testimonials .grow {
    font-size: 40px !important;
    line-height: 128%;
}

.we {
    font-size: 15px;
    color: var(--color4);
    position: relative;
    font-family: 'open_sanssemibold';
}

.we:after {
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background: var(--color-black);
    left: 152px;
    top: 50%;
    position: absolute;
}

.tst-crsl {
    background-color: var(--color-white);
    height: 320px;
    padding: 25px 50px;

}

.quot img {
    padding-bottom: 20px;
}

.tst-crsl p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'open_sansregular';
    padding-bottom: 25px;
}

.testimonials .owl-dots {
    padding-bottom: 20px;
}

.tst-crsl h5 {
    font-size: 16px;
    font-family: 'open_sansregular';
}

.tst-crsl h6 {
    font-size: 13px;
    color: #666666;
    font-family: 'open_sansregular';
}

.man img {
    margin-top: 50px;
    margin-left: 20px;
}

.qlty {
    background-color: #FC5E3B;
    height: 206px;
    border-radius: 6px 0px 0px 6px;
    width: 100%;
    padding: 15px 25px 0px;
    position: relative;
}

.qlty h4 {
    margin-top: 30px;
}

.research {
    background-color: #3ABD98;
    height: 206px;
    border-radius: 0px 6px 6px 0px;
    position: relative;
    width: 100%;
    padding: 15px 25px 0px;
}

.research img {
    position: absolute;
    bottom: 78px;
}

.Launching {
    background-color: #906DD8;
    height: 116px;
    border-radius: 6px;
    bottom: 56px;
    position: absolute;
    width: 100%;
    padding: 25px;
}

.pr-img3 {
    position: relative;

}

.pr-img3 img {
    width: 100%;
}

.brain {
    height: 200px;
    position: relative;
    background-color: #414BA9;
    border-radius: 6px;
    padding: 15px 25px 0px;

}

.idea {
    height: 200px;
    width: 100%;
    background-color: #0D5074;
    border-radius: 6px;
    padding: 15px 25px 0px;
}

.idea img {
    margin-left: 50px;
    padding-top: 20px;
}

.mn img {
    width: 100%;
}

.process h5 {
    font-size: 17px;
    color: var(--color-white);
    font-family: 'ralewaybold';
}

.process h4 {
    font-size: 20px;
    color: var(--color-white);
    font-family: 'ralewaysemibold';
}

.brain h4 {
    margin-top: 100px;
}

.brain img {
    bottom: 45%;
    position: absolute;
    right: 18px;
}

.qlty img {
    position: absolute;
    left: 0px;
    top: 50px;
}

.help-sec {
    text-align: center;
}

.help-sec h2 {
    font-size: 120px;
    font-weight: 900;
    color: var(--color-black)08;
    position: relative;
    margin-top: 60px;
    font-family: 'open_sansbold';
    opacity: .05;
}

.help-sec h3 {
    margin-top: -11px;
    font-size: 45px;
    font-weight: 700;
    position: absolute;
    z-index: 5;
    width: 100%;
    font-family: 'ralewaybold';
}

.abt-crsl .owl {
    padding-left: 200px;
    padding-top: 40px;
}

.home-bg .talk:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    transition: 1s;
}


/* footer */
.footer {
    background-color: var(--color7);
    margin-top: 80px;
    padding-top: 5px;
}

.footer h4 {
    font-size: 35px;
    color: var(--color9);
    font-family: 'ralewaysemibold';
}

.footer img {
    margin-right: 10px;
}

.footer h6 {
    color: var(--color9);
    padding: 4px 0px;
}

.footer span {
    width: 50px;
}

.footer .no {
    margin-top: 12px;
}

.footer .explore {
    color: var(--color-white);
    border-radius: 40px !important;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid var(--color-white);
    margin-right: -12px;
    height: 50px;
    /* width: 202px; */
    font-family: 'open_sanssemibold';
}

.footer .explore:hover {
    background-color: var(--color3);
    color: var(--color-white);
    border: none;
}

.footer .explore img {
    /* height: 15px; */
    margin: 0;
}

.footer hr {

    width: 100%;
    border: 1px solidvar(--color9)1f;
    margin-top: 40px;
}

.footer2 h4 {
    color: var(--color9);
    font-size: 15px;
}

.footer2 img {
    height: 40px;
    margin-bottom: 10px;
}

.footer2 h5 {
    color: var(--color-white);
    font-size: 20px;
    font-family: 'open_sansregular';
}

.footer2 a {
    font-size: 15px;
}

.pink img {
    height: 16px;
    margin-top: 10px;
}

.footer3 h6 {
    font-size: 15px;
    color: var(--color8);
    font-family: 'ralewaymedium';
}

.footer3 p {
    font-size: 15px;
    font-family: 'ralewaymedium';
}

.footer3 a {
    font-size: 11px !important;
    color: var(--color-white) !important;
}

.footer3 .terms {
    margin-right: 28px;
}

.footer3 .pri {
    margin-right: 28px;
}

.footer a:hover {
    color: var(--color-white) !important;
    text-decoration: none !important;
}

.footer a {
    color: var(--color8) !important;
    font-family: 'open_sansregular';
    text-decoration: none;

}

.footer2 .pri {
    margin-left: 5px;
}

.serv::after {
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background: var(--color-black);
    left: 110px;
    top: 50%;
    position: absolute;
}

.user {
    position: relative;
}

.user::before {
    content: "";
    background-image: url(../img/icon-left.svg);
    height: 30px;
    width: 12px;
    position: absolute;
    top: 0px;
    left: 9px;
}

.user::after {
    content: "";
    background-image: url(../img/icon-right.svg);
    height: 30px;
    width: 12px;
    position: absolute;
    top: 0px;
    right: 9px;
}

.owl-carousel .owl-item img {
    width: auto !important;
}

.owl-carousel3 .owl-dots.disabled {
    display: block !important;
}

.owl-carousel3 .owl-nav {
    display: none !important;
}

.owl-carousel3 .owl-nav:active {
    text-decoration: none !important;

}

.owl-carousel3 .owl-dots {
    position: absolute;
    bottom: 2px;
    left: 344px;
}

.owl-carousel3 .owl-dots .owl-dot.active span,
.owl-carousel3 .owl-dots .owl-dot:hover span {
    background: var(--color2) !important;
}

.logos img {
    padding-left: 19px;
    padding-top: 30px;
}


.logos img {
    padding-right: 20px;
}

.help-sec .talk {
    background-color: var(--color3);
    color: var(--color-white);
    border-radius: 40px !important;
    padding: 12px 44px;
    width: 190px;
    height: 60px;
    margin: auto;
    font-size: 18px;
    font-family: 'open_sanssemibold';
    border: none;
}

.sec-page .serv::after {
    content: "";
    display: block;
    width: 142px;
    height: 1px;
    background: #CDCDCD;
    left: 0px;
    top: 120%;
    position: absolute;
}

.about-veuz .serv::after {
    content: "";
    display: block;
    width: 45px;
    height: 1px;
    background: var(--color-black);
    left: 168px !important;
    top: 50%;
    position: absolute;
}


.checkbox {
    width: 150px;
    height: 40px;
    background-color: #d0d0d0;
    border-radius: 30px;
    position: fixed;
    color: black;
    overflow: hidden;
    rotate: 270deg;
    bottom: 500px;
    left: 10px;
    z-index: 9999;
}

#checkbox_toggle {
    display: none;
}

.checkbox .toggle {
    width: 75px;
    height: 32px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(40deg, #Fff, #ffff 70%);
    transition: 0.4s;

}

.checkbox .slide {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.checkbox .slide .text {
    font-size: 16px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
}

.check:checked+.checkbox .slide .toggle {
    transform: translateX(63px);
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
    box-shadow: -0px -0px 10px #8983F7, -0px -0px 30px #8983F7;
}

.check:checked+.checkbox .slide {
    background-color: var(--main-color);
    color: #fff;
}

.chat {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 9999;
}

.chat img {
    width: 90%;
}

/* .srch {
    position: fixed;
    bottom: 100px;
    left: 50px;
    z-index: 9999;

} */

.search-box {
    position: fixed;
    left: 58px;
    z-index: 100;
    bottom: 70px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
    width: 280px;
    background: var(--color1);
    border-radius: 50px;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: var(--color1);
    outline: none;
    padding: 0 60px 0 30px;
    font-size: 15px;
    opacity: 0;
    color: var(--color9);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active input {
    opacity: 1;
}

.search-box input::placeholder {
    color: var(--color9);
}

.search-box .search-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    background: #F5F5F5;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: var(--color-black);
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-icon.active {
    right: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 16px;
    background: var(--color9);
    color: var(--color-black);
    transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--color9);
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
    right: -25px;
    transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data {
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
}

.search-box .search-data.active {
    display: none;
}

.mail-ic {
    text-align: center;
}

.cell {
    text-align: center;
    margin-left: 10px;
}

.fbtn {
    display: flex;
    justify-content: end;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--color3) !important;
}

.support {
    margin-bottom: 0;
}

.number img {
    padding-left: 3px;
}

.number span {
    padding-left: 3px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 7em;
    height: 2.2em;
    rotate: 90deg;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: var(--color9);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    inset: 0;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
    background: #E0E0E0;
}

/* .switch input:focus + .slider {
    box-shadow: 0 0 1px #0974f1;
  } */

.switch input:checked+.slider:before {
    transform: translateX(1.6em);
}

/* .dark-light{
    position: fixed;
    bottom: 500px;
    left: 40px;
    z-index: 9999;
  } */
.btn-container.switch {
    position: fixed;
    left: 25px;
    transform: rotate(270deg);
    transform-origin: bottom;
    z-index: 100;
    top: 500px;
}

.btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
    margin: 0px;
    width: 130px;
    height: 35px;
    background-color: var(--color9);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /* box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset; */
    display: block;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    top: 7px;
    right: 18px;
    color: var(--color1);
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    content: attr(data-off);
    width: 68px;
    height: 100%;
    background: var(--color-white);
    border-radius: 30px;
    position: absolute;
    font-size: 13px;
    display: flex;
    justify-content: center;
    left: 0px;
    top: 0px;
    text-align: center;
    transition: all 0.3s ease;
    /* box-shadow: 0px 0px 6px -2px #111; */
    color: var(--color1);
    font-weight: 600;
    align-items: center;
}

.btn-color-mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    background-color: var(--color9);
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
    content: attr(data-on);
    left: 68px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  

  
 
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}  



/* abstract */


.home-bg{
    background: #121323;  
    background: -webkit-linear-gradient(to left, #d6d7e2, #12132e);  
    width: 100%;
    
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.034);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 100px;
    height: 100px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* cursor */


.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 9999;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #F9365F;
}

.veuz {
  
    animation: zoom-in-zoom-out 2s ease-out infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }